:root {
    --body-bg-color: #D5E1EF;
    --card-bg-color: #FFFFFF;
    --heading-text-color: #1F314F;
    --body-text-color: #7D889E;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    font-family: 'Outfit', sans-serif;
}
